.header{
    background-color: ;
    width: 350px;
    height: 200px;
    background-image: url(bnner.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1{
    color: #ff5733;
    text-align: center;
    padding-top: 80px;
    font-style: oblique;
    text-transform: lowercase;
    letter-spacing: 4px;
    line-height: normal;
    font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;

}

.nav{
    /* lineear gradient
    background:linear-gradient(to left,#1700ff,#0067ff,#008dff,#00a6ff,#00bae6,#00cc9a); */
    background: radial-gradient(circle,#0000FF,#00D4FF);
    padding: 10px;
    margin: 10px;
}

.nav ul{
    list-style-type:none ;
    display: flex;
    
}

.nav ul li a{
    color: white;
    text-decoration: none;
    

}

.nav ul li{
    width:100px;
    border: 1px solid;
    border-color: antiquewhite;
    padding:10px;
    text-align: center;
    cursor: pointer;
}

.nav ul li:hover{
    background-color: brown;
    border-color: brown;
    
}
.nav ul li a:hover{
    color:darkred;

}
#mission,#team{
    color: brown;
}